.wrapper {
  width: 49%;
  margin-bottom: 10px;
}
.error {
  width: 100%;
  color: rgb(201, 37, 37);
  margin-bottom: 5px;
}
.nameInput {
  width: 100%;
  resize: vertical;
  background-color: #111;
  color: #fff;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}
.nameText {
  color: #fff;
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}
.nameText:hover {
  background-color: #333;
}
.input {
  width: 100%;
  min-height: 200px;
  border-radius: 5px;
  resize: vertical;
  background-color: #111;
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
}
.result {
  display: flex;
  flex-wrap: wrap;
}
.resultText {
  width: 100%;
  color: #fff;
  margin-bottom: 5px;
}
.resultButton {
  margin-right: 10px;
}
.deleteButton {
  background-color: rgb(220, 53, 53);
  transition: all 0.3s;
}
.deleteButton:hover {
  background-color: rgb(192, 25, 25);
}
