.wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background-color: #222;
}
.inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: column; */
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.results {
  display: flex;
  flex-direction: column;
}
.title {
  color: #fff;
  margin-bottom: 5px;
}
.subtitle {
  color: #fff;
  font-size: 12px;
}
.buttonsWrapper {
  width: 100%;
  margin-bottom: 20px;
}
.buttonsWrapper > button {
  margin-right: 20px;
}
