.wrapper {
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.text {
  color: #fff;
  margin-bottom: 5px;
}
.input {
  width: 100%;
  padding: 5px;
  background-color: #111;
  border-radius: 5px;
  color: #fff;
}
